localhost:9000 {
    gzip
	root ./backend/public/
    log backend-access.log {
        size 1
        age  7
        keep 1
    }
    errors {
        log backend-error.log {
            size 1
            age  7
            keep 1
        }
    }
}

localhost:3000 {
    gzip
	root ./frontend/public/
    log frontend-access.log {
        size 1
        age  7
        keep 1
    }
    errors {
        log frontend-error.log {
            size 1
            age  7
            keep 1
        }
    }
}
