localhost:9000 {
    gzip
	root ./admin/
    log admin-access.log {
        size 1
        age  7
        keep 1
    }
    errors {
        log admin-error.log {
            size 1
            age  7
            keep 1
        }
    }
}
